@{
    ViewBag.Title = "Home";
}
@* LEMBRAR DE MONTAR O CABEÇALHO AO FINALIZAR A TELA *@

<div class="container-fluid center">
    <strong>
        <p class="h4">Cadastro</p>
    </strong>
    <hr />
    <p class="h5 text-left">Teste</p>

</div>