@{
    ViewBag.Title = "Home";
}
@* LEMBRAR DE MONTAR O CABEÇALHO AO FINALIZAR A TELA *@

<div class="container-fluid center">
    <strong>
        <p class="h4">Register</p>
    </strong>
    <hr />
<form>
    <div class="input-field">
        <div class="row">
            <div class="col-md-12 inputs">
                <input type="text" id="name" size="50" required />
                <label for="name">Your  first name:</label>
            </div>

            <div class="col-md-12 inputs">
                <input type="text" id="username" size="50" required />
                <label for="name">Your username:</label>
            </div>

        <div class="col-md-12 inputs">
            <input type="text" id="age" size="2" data-mask="00" required />
            <label for="name">Your age:</label>
        </div>

        <div class="col-md-12 inputs">
                <input type="text" id="address" size="50" required />
                <label for="name">Your address:</label>
        </div>

        <div class="col-md-12 inputs">
                <input type="text" id="email" size="50" required />
                <label for="name">Your e-mail:</label>
        </div>

        <div class="col-md-12 inputs">
                <input type="text" id="cellphone" size="50" data-mask="(00) 0 0000-0000" required />
                <label for="name">Your cellphone:</label>
        </div>

        <div class="col-md-12 inputs">
                <input type="text" id="obs" size="200" required />
                <label for="name">Your obs:</label>
        </div>

        <div class="col-md-12 inputs">
            <button class="bottao" id="btncreate">Create</button>
        </div>

    </div>
    </div>
</form>
</div>