@{
    ViewBag.Title = "Create";
}
@* LEMBRAR DE MONTAR O CABEÇALHO AO FINALIZAR A TELA *@

<div class="container-fluid center">
<section id="list">
    <strong>
        <p class="h4"><strong>List</strong></p>
    </strong>
        <br />
<div class="container-fluid">   
        <div class="text-right space">
        <button class="new" id="btnadduser"><strong>Add + </strong></button>
    </div> 
    <table class="table table-bordered table-responsive">
        <thead>
      <tr>
        <th class="text-center">UserId</th>
        <th class="text-center">Username</th>
        <th class="text-center">Age</th>
        <th class="text-center">Cellphone</th>
        <th class="text-center">Address</th>
        <th class="text-center">E-mail</th>
        <th class="text-center">Obs</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="txtuserid">1</td>
        <td id="txtusername">gabrielsouza</td>
        <td id="txtage">19</td>
        <td id="txtcellphone">(19) 9 9299-0307</td>
        <td id="txtaddress">teste</td>
        <td id="txtemail">gabriel.souza@email.com</td>
        <td id="txtobs"> - </td>
        <td>
            <a class="space" onclick="edit()"> 
                <i class="fa fa-edit"></i>
            </a>
            <a class="space" onclick="remove()"> 
                <i class="fa fa-ban"></i>
            </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
 </section>

<section name="create" id="create">      
    <strong>
        <p class="h4"><strong>Register</strong></p>
    </strong>
    <hr />
    <form name="post" style=" margin-top: 4rem !important; ">
        <div class="input-field">
    <a class="comeback" id="comelist"><< list</a>
            <div class="row">
                <div class="col-md-12 inputs">
                    <input type="text" id="name" size="50" required />
                    <label for="name">Your  first name:</label>
                </div>

                <div class="col-md-12 inputs">
                    <input type="text" id="username" size="20" required />
                    <label for="name">Your username:</label>
                </div>

            <div class="col-md-12 inputs">
                <input type="text" id="age" size="2" data-mask="00" required />
                <label for="name">Your age:</label>
            </div>

            <div class="col-md-12 inputs">
                    <input type="text" id="address" size="50" required />
                    <label for="name">Your address:</label>
            </div>

            <div class="col-md-12 inputs">
                    <input type="text" id="email" onblur="validacaoEmail(email)" size="50" required />
                    <label for="name">Your e-mail:</label>
                    <div id="resultemail"></div>
            </div>

            <div class="col-md-12 inputs">
                    <input type="text" id="cellphone" size="50" data-mask="(00) 0 0000-0000" required />
                    <label for="name">Your cellphone:</label>
            </div>

            <div class="col-md-12 inputs">
                    <input type="text" id="obs" size="200" required />
                    <label for="name">Your obs:</label>
            </div>

            <div class="col-md-12 inputs">
                <button class="new" id="btncreate"><strong>Create</strong></button>
            </div>

        </div>
        </div>
    </form>
</section>

</div>